<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

    <key>Label</key>
    <string>com.github.themand.macos-bootstrap.hosts-update</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/hosts-update</string>
    </array>

    <key>StartInterval</key>
    <integer>14400</integer>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/var/log/hosts-update.log</string>

    <key>StandardOutPath</key>
    <string>/var/log/hosts-update.log</string>

</dict>
</plist>